<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_CustomerGroupOptions>
            <version>0.1.0</version>
        </Edge_CustomerGroupOptions>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Edge_CustomerGroupOptions_Block_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Edge_CustomerGroupOptions_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <edge_customergroupoptions>
                <class>Edge_CustomerGroupOptions_Helper</class>
            </edge_customergroupoptions>
        </helpers>
        <models>
            <customergroupoptions>
                <class>Edge_CustomerGroupOptions_Model</class>
                <resourceModel>customergroupoptions_resource</resourceModel>
            </customergroupoptions>
            <customergroupoptions_resource>
                <class>Edge_CustomerGroupOptions_Model_Resource</class>
                <entities>
                    <customergrouppaymentmethod>
                        <table>customer_group_options</table>
                    </customergrouppaymentmethod>
                </entities>
            </customergroupoptions_resource>
        </models>
        <resources>
            <customergroupoptions_setup>
                <setup>
                    <module>Edge_CustomerGroupOptions</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customergroupoptions_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <edge_customergroupoptions before="Mage_Adminhtml">Edge_CustomerGroupOptions_Adminhtml</edge_customergroupoptions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>